/* Inicio mixins */
/* Fin mixins */
/* Inicio Form */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato&family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato&family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato&family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato&family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato&family=Major+Mono+Display&display=swap");
.contacto {
  color: black; }

/* Fin Form */
.form-control {
  border-radius: 0px;
  border: 0px; }

.font-primary {
  font-family: 'Cabin', sans-serif; }

.font-secondary {
  font-family: 'Cabin', sans-serif; }

.seccionForm {
  padding-bottom: 90px; }

.botonForm:hover {
  cursor: pointer; }

.text-info {
  color: #00705F !important; }

.btn-info {
  background-color: #00705F !important; }

/* Inicio Titulos */
h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 8em;
  color: #fafafa;
  text-align: center;
  padding: 7%; }

h2 {
  color: black; }

h4 {
  color: black; }

h5 {
  display: flex;
  justify-content: space-around; }

header .logoCentrado .verduleria {
  color: #fafafa;
  font-size: 3.5em;
  margin: 20px;
  margin-top: 15%; }

.tituloProductos {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px; }

/* Fin Titulos*/
@media screen and (min-width: 425px) and (max-width: 850px) {
  #navbar4 {
    position: absolute;
    left: -3%;
    top: 100%;
    height: 300%; }
  .logoNav {
    left: -15%; }
  .nombreNav {
    position: absolute;
    left: -13%;
    color: #00705F; }
  .navbar-toggler {
    margin-right: 2%; }
  .navbar-collapse {
    background: #F7F7F7;
    width: 120%; }
    .navbar-collapse .collapse .show {
      background-color: white;
      width: 100%; }
  #nav {
    align-content: center; }
  h1 {
    margin-top: -10%;
    padding: 5px;
    font-size: 60px; }
  .verduleria {
    font-size: 30px; }
  .logoCentrado {
    position: absolute;
    bottom: 20%;
    left: 9%; }
  .bienvenidos {
    font-size: 20px;
    margin-top: -10%;
    margin-bottom: 15%;
    margin-right: 20%;
    margin-left: -13%; }
  .ofertas {
    padding: 25px;
    flex-direction: column; }
  .articulos {
    flex-wrap: wrap; }
  .item {
    border: 5px dotted #064b79;
    border-radius: 10px;
    height: 500px; }
  .ofertaCentrado {
    color: black;
    margin-top: 50px; }
  h4 {
    position: absolute;
    top: -20%;
    left: 9%; }
  .ofertaSem {
    margin-left: -7%; }
  .ofertas2 {
    width: 50%;
    position: absolute;
    left: -5%; }
  .copy {
    text-align: center; }
  .containerGrid {
    background: none; }
  h3 {
    font-size: 22px;
    color: black; }
  .col-xs-12 {
    margin-left: -5%; }
  .quienesSomos {
    font-size: 20px; }
  .descripcionServicios {
    padding: 5px;
    margin: 20px;
    font-size: 26px;
    text-align: center; }
  .subTitle {
    margin-left: 10%; }
  .nServicios {
    margin-right: 8%; } }

.yummy2Jz9r {
  font-family: 'Archivo Black', sans-serif;
  font-size: 2em;
  text-align: center;
  color: #00705F;
  margin-bottom: 150px;
  margin-left: -8%; }

.tituloHistoria {
  width: 950px;
  margin-left: 25%;
  margin-top: 6%; }

.quienesSomos {
  font-family: 'Lato', sans-serif;
  color: #fafafa;
  padding: 20px;
  margin: 20px;
  font-size: 26px;
  text-align: center; }

.containerGrid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1.543fr 1fr 1.063fr 1.543fr;
  grid-template-rows: auto;
  grid-template-areas: "A  B  C  E" "A  D  D  E";
  margin-top: 70px;
  margin-bottom: 70px; }

img {
  width: 100%;
  height: auto; }
  img:nth-child(1) {
    grid-area: A; }
  img:nth-child(2) {
    grid-area: B; }
  img:nth-child(3) {
    grid-area: C; }
  img:nth-child(4) {
    grid-area: D; }
  img:nth-child(5) {
    grid-area: E; }

header {
  background: linear-gradient(rgba(255, 254, 253, 0.178), rgba(255, 254, 253, 0.178)), url("https://images.unsplash.com/photo-1594304466740-01a51b280fd3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  min-height: 800px;
  position: relative;
  width: 100%; }

.logoCentrado {
  margin-left: -5px;
  padding: 5%;
  text-align: center; }

.dropdown-toggle::after {
  display: none; }

.text-decoration-none {
  text-decoration: none !important; }

.icon-width {
  width: 2rem; }

.logoNav {
  position: relative;
  right: 220%;
  width: 80px;
  height: 80px;
  margin-bottom: 5%; }

.nombreNav {
  position: relative;
  right: 210%; }

.nav-item {
  color: #3a5cf18a;
  width: 200px; }

#nav {
  display: flex;
  height: 70px;
  background-color: #f7f7f7; }

.navbar-nav {
  margin-left: 30%; }

/* Inicio Carrusel */
.carousel-caption {
  color: black; }

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important; }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important; }

.carrusel {
  background: url("../imagenes/verde.jpg") fixed; }

/* Fin Carrusel */
/* Inicio Separaciones */
.bg-blue {
  background-color: #F7F7F7;
  color: #fffefd;
  position: relative; }

section.row {
  padding: 30px 30px 60px; }

.bg-shadow {
  box-shadow: 0 1px 3px rgba(8, 33, 30, 0.5); }

/* Fin Separaciones */
/* Inicio Ofertas */
.ofertas {
  background: linear-gradient(rgba(255, 254, 253, 0.199), rgba(255, 254, 253, 0.199)), url("../imagenes/06.jpg") fixed;
  background-size: cover;
  height: 100%;
  margin: 0;
  min-height: 510px;
  position: relative;
  width: 100%;
  padding: 50px; }

.ofertaSem {
  margin-left: 5%; }

.articulos {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .articulos .item {
    background-color: transparent;
    margin: 5px; }

.imagenCentrado:hover {
  transform: translateY(0px) scale(1.2);
  transition: transform .5s ease-in-out; }

.ofertas2 {
  display: flex;
  margin-right: 135px;
  margin-left: 135px;
  font-size: 25px;
  color: #ee582a;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  font-size: 35px; }

.ofertaCentrado {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #008250;
  font-size: 35px; }

.animado {
  background: linear-gradient(to right, rgba(149, 211, 240, 0), rgba(149, 211, 240, 0)), linear-gradient(to right, red, #3b0c14, black);
  background-size: 100% 1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms; }
  .animado:hover {
    background-size: 0 0.1em, 100% 0.1em; }
  .animado:focus {
    background-size: 0 0.1em, 100% 0.1em; }

/* Fin Ofertas */
.MenusApp {
  padding-top: 55px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white; }

.yummy_yK3u {
  background-color: white;
  width: 950px;
  margin-left: 27%; }
  .yummy_yK3u .yummy2Kfnk {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1196px;
    margin: 0 auto;
    list-style: none; }
    .yummy_yK3u .yummy2Kfnk .yummy3zQgp {
      width: 260px;
      text-align: center;
      margin-right: 52px;
      margin-bottom: 50px;
      position: relative;
      width: 260px;
      text-align: center;
      margin-right: 52px;
      margin-bottom: 50px;
      position: relative; }
    .yummy_yK3u .yummy2Kfnk .yummyrjw2B {
      font-family: 'Lato', sans-serif;
      color: #00705F;
      width: 232px;
      line-height: 1.5;
      margin: 0 auto;
      margin-top: 25px;
      margin-bottom: 18px; }
    .yummy_yK3u .yummy2Kfnk .yummyWM94_ {
      background-color: #2f2e2e;
      width: 192px;
      height: 2px;
      margin: 0 auto; }
    .yummy_yK3u .yummy2Kfnk .yummyMsw8T {
      font-family: 'Lato', sans-serif;
      color: #2f2e2e;
      line-height: 1.6;
      margin-top: 12px;
      margin-bottom: 25px; }
    .yummy_yK3u .yummy2Kfnk .yummyKkAZE {
      font-family: 'Lato', sans-serif;
      color: #ee582a;
      margin-top: 12px;
      margin-bottom: 25px; }
    .yummy_yK3u .yummy2Kfnk .yummyccDYq.yummymWnai {
      margin-top: 27px; }
  .yummy_yK3u .yummy2Jz9r {
    font-family: 'Archivo Black', sans-serif;
    font-size: 2em;
    text-align: center;
    color: #00705F;
    margin-bottom: 150px;
    margin-left: -8%; }
  .yummy_yK3u ol {
    margin: 0;
    padding: 0; }
  .yummy_yK3u ul {
    margin: 0;
    padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

@media (max-width: 580px) {
  .yummy_yK3u {
    width: 280px;
    margin-left: 1%; }
    .yummy_yK3u .yummy2Jz9r {
      margin-top: 1%;
      margin-bottom: 80px;
      margin-left: 1%; }
    .yummy_yK3u .yummy3ybB_ {
      width: 60px; }
    .yummy_yK3u .yummy2Kfnk {
      width: 280px;
      margin-bottom: 50px; }
      .yummy_yK3u .yummy2Kfnk .yummy3zQgp {
        margin-left: auto;
        margin-right: auto; }
        .yummy_yK3u .yummy2Kfnk .yummy3zQgp:nth-child(2n) {
          margin-left: auto;
          margin-right: auto; }
        .yummy_yK3u .yummy2Kfnk .yummy3zQgp:nth-child(3n) {
          margin-left: auto;
          margin-right: auto; }
      .yummy_yK3u .yummy2Kfnk .yummyccDYq.yummymWnai {
        margin-top: 22px; }
  .yummy_yK3u {
    width: 280px;
    margin-left: 70px; } }

/* Inicio Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: large;
  background: linear-gradient(rgba(255, 254, 253, 0.178), rgba(255, 254, 253, 0.178)), url("https://images.unsplash.com/photo-1594304466740-01a51b280fd3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80") fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 500px;
  position: relative;
  width: 100%; }

.info {
  padding: 30px; }

.subtitulosFooter {
  font-family: 'Archivo Black', sans-serif;
  font-size: 18px;
  color: #00705F; }

.info2 {
  font-family: 'Lato', sans-serif;
  margin-top: 20px;
  color: #fafafa; }

.copy {
  font-family: 'Archivo Black', sans-serif;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
  color: #00705F; }

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: blue; }

.izquierda {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 150px; }

/* Fin Footer */
html {
  overflow-x: hidden; }

html, body {
  max-width: 100% !important;
  overflow-x: hidden !important; }

/* Inicio generales  */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  background-size: cover;
  background: #ffe259;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ffa751, #ffe259);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ffa751, #ffe259);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

/* Fin generales */
.descripcionServicios {
  color: #FaFaFa;
  padding: 20px;
  margin: 20px;
  font-size: 26px;
  text-align: center; }

.servicio {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  padding-top: 88px;
  background-color: #F7F7F7; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.boxFeature {
  margin-bottom: 33px; }

.col-xs-12 {
  width: 100%; }

.col-xs-3 {
  width: 25%; }

.col-xs-9 {
  width: 75%; }

h4 {
  font-size: 47px;
  line-height: 44px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0.1em;
  margin-bottom: 17px; }

h6.subTitle {
  font-size: 24px;
  line-height: 50px;
  font-weight: 300;
  font-style: normal;
  padding: 0;
  margin-top: -10;
  margin-bottom: 90px;
  text-align: center; }

h3 {
  font-family: 'Lato', sans-serif;
  margin-left: 37%;
  color: black; }

.color1, .slice.color1, .bulle.color1, .ctaBox.color1 {
  font-family: 'Lato', sans-serif;
  background-color: #F7F7F7;
  color: #444; }

.nServicios {
  font-family: 'Archivo Black', sans-serif;
  color: #008250; }

.servicios1 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #008250; }

.boxFeature i {
  color: #EB7F37;
  font-size: 55px;
  margin-left: 30%; }
