@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato&family=Major+Mono+Display&display=swap');


/* Inicio Carrusel */

.carousel-caption {
	color: black;
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carrusel {
	background: url("../imagenes/verde.jpg") fixed;
}

div {
	.carousel-caption {
		h5 {
			display: flex;
			justify-content: space-around;
			font-family: 'Archivo Black', sans-serif;
			color: #Fafafa;
			font-size: 28px;
		}
	}
}

div {
	.carousel-caption {
		p {
			font-family: 'Lato', sans-serif;
			margin-top: 0;
			margin-bottom: 1rem;
			color: #Fafafa;
			font-size: 28px;
		}
	}
}

/* Fin Carrusel */