header {
	background: linear-gradient(rgba(255, 254, 253, 0.178), rgba(255, 254, 253, 0.178)), url("https://images.unsplash.com/photo-1594304466740-01a51b280fd3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	min-height: 800px;
	position: relative;
	width: 100%;
}

.logoCentrado {
	margin-left: -5px;
	padding: 5%;
	text-align: center;
}

.dropdown-toggle {
	&::after {
		display: none;
	}
}

.text-decoration-none {
	text-decoration: none !important;
}

.icon-width {
	width: 2rem;
}

.logoNav {
	position: relative;
	right: 220%;
	width: 80px;
	height: 80px;
	margin-bottom: 5%;
}

.nombreNav {
	color: #008250;
	position: relative;
	right: 210%;
}



.nav-item {
	color: #008250;
	width: 200px;
}

.navbar-light {
	.navbar-nav {
		.nav-link {
			color: #008250;
		}
	}
}

.navbar-light {
    .navbar-nav {
        .active {
            >.nav-link {
                color: #ee582a;
            }
        }
        .nav-link.active {
            color: #ee582a;
        }
        .nav-link.show {
            color: #ee582a;
        }
        .show {
            >.nav-link {
                color: #ee582a;
            }
        }
    }
}

#nav {
	display: flex;
	height: 70px;
	background-color: rgb(247, 247, 247);
}

.navbar-nav {
	margin-left: 30%;
}