@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato&family=Major+Mono+Display&display=swap');

 .MenusApp {
	padding-top: 55px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: rgb(255, 255, 255);
}
.yummy_yK3u {
	background-color: rgb(255, 255, 255);
	width: 950px;
	margin-left: 27%;
	.yummy2Kfnk {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 1196px;
		margin: 0 auto;
		list-style: none;
		.yummy3zQgp {
			width: 260px;
			text-align: center;
			margin-right: 52px;
			margin-bottom: 50px;
			position: relative;
			width: 260px;
			text-align: center;
			margin-right: 52px;
			margin-bottom: 50px;
			position: relative;
		}
		.yummyrjw2B {
			font-family: 'Lato', sans-serif;
			color: #00705F;
			width: 232px;
			line-height: 1.5;
			margin: 0 auto;
			margin-top: 25px;
			margin-bottom: 18px;
		}
		.yummyWM94_ {
			background-color: rgb(47, 46, 46);
			width: 192px;
			height: 2px;
			margin: 0 auto;
		}
		.yummyMsw8T {
			font-family: 'Lato', sans-serif;
			color: rgb(47, 46, 46);
			line-height: 1.6;
			margin-top: 12px;
			margin-bottom: 25px;
		}
		.yummyKkAZE {
			font-family: 'Lato', sans-serif;
			color: #ee582a;
			margin-top: 12px;
			margin-bottom: 25px;
		}
		.yummyccDYq.yummymWnai {
			margin-top: 27px;
		}
	}
	.yummy2Jz9r {
		font-family: 'Archivo Black', sans-serif;
		font-size: 2em;
		text-align: center;
		color: #00705F;
		margin-bottom: 150px;
		margin-left: -8%;
	}
	ol {
		margin: 0;
		padding: 0;
	}
	ul {
		margin: 0;
		padding: 0;
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

@media (max-width: 580px) {
	.yummy_yK3u {
		.yummy2Jz9r {
			margin-top: 1%;
			margin-bottom: 80px;
			margin-left: 1%;
		}
		width: 280px;
		margin-left: 1%;
		.yummy3ybB_ {
			width: 60px;
		}
		.yummy2Kfnk {
			width: 280px;
			margin-bottom: 50px;
			.yummy3zQgp {
				margin-left: auto;
				margin-right: auto;
				&:nth-child(2n) {
					margin-left: auto;
					margin-right: auto;
				}
				&:nth-child(3n) {
					margin-left: auto;
					margin-right: auto;
				}
			}
			.yummyccDYq.yummymWnai {
				margin-top: 22px;
			}
		}
	}

	.yummy_yK3u {
		width: 280px;
		margin-left: 70px;
	}
}