@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato&family=Major+Mono+Display&display=swap');

.menusApp {
	padding-top: 55px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: rgb(255, 255, 255);
}

.seccionProductos {
	background-color: rgb(255, 255, 255);
	width: 950px;
	margin-left: 27%;

	.listaProductos {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 1196px;
		margin: 0 auto;
		list-style: none;

		.itemProductos {
			width: 260px;
			text-align: center;
			margin-right: 52px;
			margin-bottom: 50px;
			position: relative;
			width: 260px;
			text-align: center;
			margin-right: 52px;
			margin-bottom: 50px;
			position: relative;
		}

		.nombreProductos {
			font-family: 'Lato', sans-serif;
			color: #00705F;
			width: 232px;
			line-height: 1.5;
			margin: 0 auto;
			margin-top: 25px;
			margin-bottom: 18px;
		}

		.subrayadoProductos {
			background-color: rgb(47, 46, 46);
			width: 192px;
			height: 2px;
			margin: 0 auto;
		}

		.descripcionProductos {
			font-family: 'Lato', sans-serif;
			color: rgb(47, 46, 46);
			line-height: 1.6;
			margin-top: 12px;
			margin-bottom: 25px;
		}

		.precioProductos {
			font-family: 'Lato', sans-serif;
			color: #ee582a;
			margin-top: 12px;
			margin-bottom: 25px;
		}
	}

	.h3Productos {
		font-family: 'Archivo Black', sans-serif;
		font-size: 2em;
		text-align: center;
		color: #00705F;
		margin-bottom: 150px;
		margin-left: -8%;
	}

	ol {
		margin: 0;
		padding: 0;
	}

	ul {
		margin: 0;
		padding: 0;
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

@media screen and (min-width:360px) and (max-width:640px) {
	.seccionProductos {
		.h3Productos {
			margin-top: 1%;
			margin-bottom: 80px;
			margin-left: 1%;
		}

		.listaProductos {
			width: 280px;
			margin-bottom: 50px;

			.itemProductos {
				margin-left: auto;
				margin-right: auto;

				&:nth-child(2n) {
					margin-left: auto;
					margin-right: auto;
				}

				&:nth-child(3n) {
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}

	.seccionProductos {
		width: 280px;
		margin-left: 45px;
	}
}

/* contador */

.qty {
	margin-bottom: 10px;

	.count {
		color: rgb(63, 114, 86);
		display: inline-block;
		vertical-align: top;
		font-size: 18px;
		font-weight: 700;
		line-height: 30px;
		padding: 0 2px;
		min-width: 35px;
		text-align: center;
	}

	.plus {
		cursor: pointer;
		display: inline-block;
		vertical-align: top;
		color: white;
		width: 25px;
		height: 25px;
		text-align: center;
		border-radius: 50%;
	}

	.minus {
		cursor: pointer;
		display: inline-block;
		vertical-align: top;
		color: white;
		width: 25px;
		height: 25px;
		text-align: center;
		border-radius: 50%;
		background-clip: padding-box;
	}
}

.bg-dark {
	background-color: rgb(63, 114, 86) !important;
}

div {
	text-align: center;
}

.minus {
	&:hover {
		background-color: #f8ad22 !important;
	}
}

.plus {
	&:hover {
		background-color: #f8ad22 !important;
	}
}

span {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input {
	border: 0;
	width: 2%;

	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	&:disabled {
		background-color: white;
	}
}

input {
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

@media screen and (min-width:641px) and (max-width:896px) {

	.seccionProductos {
		.h3Productos {
			margin-right: 60%;
			margin-top: 10%;
			font-size: 30px;
		}
	}

	.seccionProductos {
		.listaProductos {
			display: flex;
			flex-direction: column;
			width: 930px;
			margin: 0 auto;
			list-style: none;
			flex-wrap: wrap;
		}
	}
}

@media screen and (min-width:897px) and (max-width:1024px) {
	.seccionProductos {
		background-color: white;
		width: 950px;
		margin-left: 0%;
	}

}