@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato&family=Major+Mono+Display&display=swap');

.yummy2Jz9r {
	font-family: 'Archivo Black', sans-serif;
	font-size: 2em;
	text-align: center;
	color: #00705F;
	margin-bottom: 150px;
	margin-left: -8%;
}

.tituloHistoria {
	width: 950px;
	margin-left: 25%;
	margin-top: 6%;
}

.quienesSomos {
	font-family: 'Lato', sans-serif;
	color: #fafafa;
	padding: 20px;
	margin: 20px;
	font-size: 26px;
	text-align: center;
}

.containerGrid {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1.543fr 1fr 1.063fr 1.543fr;
	grid-template-rows: auto;
	grid-template-areas: 'A  B  C  E''A  D  D  E';
	margin-top: 70px;
	margin-bottom: 70px;
}

img {
	&:nth-child(1) {
		grid-area: A;
	}

	&:nth-child(2) {
		grid-area: B;
	}

	&:nth-child(3) {
		grid-area: C;
	}

	&:nth-child(4) {
		grid-area: D;
	}

	&:nth-child(5) {
		grid-area: E;
	}

	width: 100%;
	height: auto;
}
