/* Inicio Separaciones */

.bg-blue {
	background-color: #6d84ec;
	color: #fffefd;
	position: relative;
}

section.row {
	padding: 30px 30px 60px;
}

.bg-shadow {
	box-shadow: 0 1px 3px rgba(8, 33, 30, 0.5);
}

/* Fin Separaciones */