/* Inicio Titulos */

h1 {
	font-family: 'Archivo Black', sans-serif;
	font-size: 8em;
	color: #fafafa;
	text-align: center;
	padding: 7%;
}

h2 {
	color: black;
}

h4 {
	color: black;
}

header {
	.logoCentrado {
		.verduleria {
			color: #fafafa;
			font-size: 3.5em;
			margin: 20px;
			margin-top: 15%;
		}
	}
}

.tituloProductos {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 70px;
}

/* Fin Titulos*/